@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: 'sans-font';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/DM-sans-v11.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'serif-font';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/DM-serif-display-v10.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'mono-font';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/DM-mono-v10.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'apple-font';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/homemade-apple-v18.ttf) format('truetype');
}

/* 主题切换 */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-head: var(--font-head);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-apple: var(--font-apple);

  --shadow-xs: 1px 1px 0 0 var(--border);
  --shadow-sm: 2px 2px 0 0 var(--border);
  --shadow: 3px 3px 0 0 var(--border);
  --shadow-md: 4px 4px 0 0 var(--border);
  --shadow-lg: 6px 6px 0 0 var(--border);
  --shadow-xl: 10px 10px 0 1px var(--border);
  --shadow-2xl: 16px 16px 0 1px var(--border);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);

  --background-image: var(--background-image);
}

:root {
  --background: #fff;
  --foreground: #000;
  --card: #fff;
  --card-foreground: #000;
  --primary: #ffdb33;
  --primary-hover: #ffcc00;
  --primary-foreground: #000;
  --secondary: #000;
  --secondary-foreground: #fff;
  --muted: #aeaeae;
  --muted-foreground: #5a5a5a;
  --accent: #fae583;
  --accent-foreground: #000;
  --destructive: #e63946;
  --destructive-foreground: #fff;
  --border: #000;

  --font-head: 'serif-font', 'sans-serif';
  --font-sans: 'sans-font', 'sans-serif';
  --font-mono: 'mono-font', 'monospace';
  --font-apple: 'apple-font', 'sans-serif';
  --background-image: '';
  --backdrop-filter-blur: 1px;
  --background-mask-opacity: 0.1;

  --search-width: 800px;
  --search-height: 60px;
}
.dark {
  --background: #000000;
  --foreground: #eaeaea;
  --card: #1e1e1e;
  --card-foreground: #eaeaea;
  --primary: #ffcc00;
  --primary-hover: #ffdb33;
  --primary-foreground: #000;
  --secondary: #fff;
  --secondary-foreground: #000;
  --muted: #5a5a5a;
  --muted-foreground: #aeaeae;
  --accent: #ffd966;
  --accent-foreground: #000;
  --destructive: #e63946;
  --destructive-foreground: #fff;
  --border: #eee;
}

.bg-image{
  background: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-outlined {
  letter-spacing: 2px;
  text-shadow:
          0px 0px 0 var(--color-primary),
          0px 0px 0 var(--color-primary),
          4px 4px 0 var(--color-primary),
          4px 4px 0 var(--color-primary);
}
