.app-container {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 磨砂玻璃遮罩效果 */
.app-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, var(--background-mask-opacity));
  backdrop-filter: blur(var(--backdrop-filter-blur)) saturate(120%);
  -webkit-backdrop-filter:  blur(var(--backdrop-filter-blur)) saturate(120%);
  z-index: 0;
}
